<div class="jumbtron">
  <h1 class="display-4 text-center"></h1>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title>Algorithm J48</mat-card-title>
      <mat-card-subtitle>DataSet weather nominal</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
  <mat-divider></mat-divider>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <div fxLayout="column" class="grid-container">
        <mat-card fxFlex>
          <mat-card-title fxLayout="row">
            <h2 class="mat-h2">How is the weather today?</h2>
          </mat-card-title>

          <form class="form" [formGroup]="formDataset" (ngSubmit)="addObjectDataset()">
            <mat-card-content>
              <div fxLayout="row" fxLayoutGap="70px" fxLayout.xs="column" fxLayoutGap.xs="5px">
                <mat-form-field style="margin-right: 15px;" fxFlex.xs appearance="fill">
                  <mat-label>Outlook</mat-label>
                  <mat-select formControlName="outlook">
                    <mat-option>None</mat-option>
                    <mat-option value="sunny">Sunny</mat-option>
                    <mat-option value="overcast">Overcast</mat-option>
                    <mat-option value="rainy">Rainy</mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field style="margin-right: 15px;" fxFlex.xs appearance="fill">
                  <mat-label>Temperature</mat-label>
                  <mat-select formControlName="temperature">
                    <mat-option>None</mat-option>
                    <mat-option value="hot">Hot</mat-option>
                    <mat-option value="mild">Mild</mat-option>
                    <mat-option value="cool">Cool</mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field style="margin-right: 15px;" fxFlex.xs appearance="fill">
                  <mat-label>Humidity</mat-label>
                  <mat-select formControlName="humidity">
                    <mat-option>None</mat-option>
                    <mat-option value="high">High</mat-option>
                    <mat-option value="normal">Normal</mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field style="margin-right: 15px;" fxFlex.xs appearance="fill">
                  <mat-label>windy</mat-label>
                  <mat-select formControlName="windy">
                    <mat-option>None</mat-option>
                    <mat-option value="TRUE">True</mat-option>
                    <mat-option value="FALSE">False</mat-option>
                  </mat-select>
                </mat-form-field>

                <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="5px">
                  <button mat-fab mat-raised-button color="primary" type="submit" matTooltip="Add"
                    [disabled]="formDataset.invalid">
                    <mat-icon>add</mat-icon>
                  </button>
                </div>
              </div>
            </mat-card-content>
          </form>
        </mat-card>
        <mat-card class="mat-card-result" fxFlex>
          <mat-card-content class="smaller-card-content" fxLayout="column" fxLayout.lg="column" fxLayout.xl="column">
            <div fxFlex.lg fxFlex>
              <div class="example-table-container" fxLayout="row" fxLayout.xl="row">
                <!--div class="demo-button-container">
                  <button mat-raised-button (click)="generarAlgoritmo()" class="demo-button">
                    Generar algoritmo
                  </button>
                </div-->

                <table mat-table [dataSource]="datasetService.listDataSetObject" recycleRows fxFlex fxFlex.lg fxFlex.xl
                  class="mat-elevation-z8 demo-table">
                  <ng-container matColumnDef="outlook">
                    <th mat-header-cell *matHeaderCellDef> Outlook </th>
                    <td mat-cell *matCellDef="let element">
                      {{element.outlook}}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="temperature">
                    <th mat-header-cell *matHeaderCellDef> Temperature </th>
                    <td mat-cell *matCellDef="let element">
                      {{element.temperature}}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="humidity">
                    <th mat-header-cell *matHeaderCellDef> Humidity </th>
                    <td mat-cell *matCellDef="let element">
                      {{element.humidity}}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="windy">
                    <th mat-header-cell *matHeaderCellDef> Windy </th>
                    <td mat-cell *matCellDef="let element">
                      {{element.windy}}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="play">
                    <th mat-header-cell *matHeaderCellDef> Play </th>
                    <td mat-cell *matCellDef="let element">
                      {{element.play}}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef> </th>
                    <td mat-cell *matCellDef="let element">
                      <button mat-icon-button color="primary" type="button" (click)="deleteElement(element)">
                        <mat-icon matTooltip="Delete" matTooltipPosition="below">
                          delete_forever
                        </mat-icon>
                      </button>
                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>