mat-card, table {
  background: #42424280;
}

:host ::ng-deep .mat-form-field-flex {
  background: #424242d1;
}

.header-image {
  background-image: url('../../assets/image/fonto-algoritmo.jpg');
  background-size: cover;
}

.demo-button-container {
  padding-bottom: 16px;
}

.demo-button + .demo-button {
  margin-left: 8px;
}

.example-container {
  position: relative;
}

mat-card.mat-card.mat-focus-indicator.mat-card-result {
  top: -4px;
}

.example-table-container {
  position: relative;
  max-height: 200px;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #131111; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #A8A8A8; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #878686;
}

.demo-table {
  width: 100%;
}

.mat-column-clima {      
  padding-right: 24px;
  text-align: center;
}

.mat-column-nivel {        
  padding-right: 24px;
  text-align: center;
}

.mat-column-llovera {        
  padding-right: 24px;
  text-align: center;
}

.mat-column-actions {      
  border-right: 1px solid currentColor;  
  padding-right: 24px;
  text-align: center;
}